.root{
    --circle-outline:#fff;

}
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap'); 
*{
    margin: 0;
    padding: 0;
    font-family: 'Kenia', sans-serif;
    box-sizing: border-box;
} 
html, 
body{
  
    /* background: #0c1022; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
}
.loader{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background-image: url(set.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
opacity: 0.5;
}
.counter{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff; 
    padding: 2rem 4rem;
    font-size: 10vw;
    font-family: "Saol Display";
    font-weight: lighter;
    font-style:italic;
    z-index: 1000;
}
.site-teaser span{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 4rem;
    color: var #fff;
    font-size: 1rem;
    font-family: "Saol Display";
    font-weight: lighter;
    font-style: italic;
}
.circles{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 100%;
}
.circle-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background-image: url(le.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-r
}
.circle-inner-rotator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 162.5px;
    height: 162.5px;
    background-image: url(budu.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block{
    position: absolute;
    top: -100px;
    left: 200px;
    width: 0px;
    height: 0px;
    display: none;
    border: 1px solid #fff;
    transform-origin: bottom;
}
.cn1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('se.gif') ;
    
}
.back{

        opacity: 0.6;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      z-index: -1;
}
h2{
    margin-bottom: 30px;
    border: 1px double white;
    outline: 4px double white;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background: #000;
  box-shadow: 0 0 50px #0ef;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}
.wrapper:hover {
  animation: animate 1s linear infinite;
}
@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}
.wrapper.active .form-wrapper.sign-in {
  transform: translateY(-450px);
}
.wrapper .form-wrapper.sign-up {
  position: absolute;
  top: 450px;
  left: 0;
}
.wrapper.active .form-wrapper.sign-up {
  transform: translateY(-450px);
}
h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}
.input-group input:focus~label,
.input-group input:valid~label {
  top: -5px;
}
.remember {
  margin: -5px 0 15px 5px;
}
.remember label {
  color: #fff;
  font-size: 14px;
}
.remember label input {
  accent-color: #0ef;
}

.signUp-link {
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}
.signUp-link p {
  color: #fff;
}
.signUp-link p a {
  color: #0ef;
  text-decoration: none;
  font-weight: 500;
}
.signUp-link p a:hover {
  text-decoration: underline;
}
#cop{
    position: relative;
    margin-right: 10px;
    font-size: 25px;
      border-radius: 12px 0px 12px 0px;
  margin-left: 20px;
  cursor: pointer;
  background: rgba(#f20044 0.6);
  margin-top: 50px;
  color: white;
  z-index: 0;
  }#poc{
    position: relative;
    margin-left: 10px;
    font-size: 25px;
    border-radius: 0 12px 0 12px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 0; 
  margin-top: 50px;
  color: white;
  }
  #cop::after{
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  
    left: 0;
    top: 0;
    border-radius: 12px 0px 12px 0px;
  }
  #poc::after{
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    
    left: 0;
    top: 0;
    border-radius: 0 12px 0 12px;
  }
  #cop::before{
    content: "";
    background: linear-gradient(45deg, #FF0000,#FF7300,#FFFB00,#48FF00,#00FFD5,#002BFF,#FF00CB,#FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;

   
  }#poc::before{
    content: "";
    background: linear-gradient(45deg, #FF0000,#FF7300,#FFFB00,#48FF00,#00FFD5,#002BFF,#FF00CB,#FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;

  }
  @keyframes glowing{
    0% {background-position: 0 0;}
    50%{background-position:400% 0;}
    100% {background-position: 0 0;}
  }
  #poc:hover::before{
    opacity: 1;
    color:white;
    font-weight: bold;
  scale: 1.5;
  }#poc:hover::after{
    background: #f20044;
  
  }
  
  #poc:hover{
    color: white;
    font-weight: bold;
    transform: scale(1.2);
  }
  #cop:hover::before{
    opacity: 1;
    color:white;
    font-weight: bold;
   
  }
  #poc:hover::after{
    background: transparent;
  
  }
  
  #cop:hover{
    color:white;
    font-weight: bold;
    transform: scale(1.2);
  }